body{
    background-color: midnightblue;
}

#menu{
    background-color: dimgrey;
    color: azure;
    text-decoration: none;
}

#menu a{
    color: azure;
    border: 1px solid aquamarine;
    padding: 5px;
    margin: 5px;
}